<div class="three columns offset-by-three" id="form-container">
    <form>
        <label for="github-username">GitHub Username</label>
        <input class="u-full-width" type="text" id="github-username">
        <label for="github-password">Password</label>
        <input class="u-full-width" type="password" id="github-password">
        <input class="button-primary" id="sign-in-btn" value="Sign In" type="button">
    </form>
</div>
{{outlet}}
