<div class="row" id="header-container">
    <div class="ten columns">
        <h2>strudel</h2>
    </div>
    <div class="two columns">
        <button class="button-primary header-btn" id="new-post-btn">{{currentUrl}}</button>
    </div>
</div>
{{outlet}}
